:root {
    --color-primary: #1A1E24;
    --color-secondary: #F2743E;
    --color-heading: #191E21;
    --color-light-gray: #F6F7F8;
}

@mixin transition($duration: 0.3s) {
    -webkit-transition: all $duration ease;
    -moz-transition: all $duration ease;
    -ms-transition: all $duration ease;
    -o-transition: all $duration ease;
    transition: all $duration ease;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html {
    color: var(--color-primary);
    font-size: 1em;
    line-height: 1.3;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.hidden,
[hidden] {
    display: none !important;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/** ~~~~~~~~~~~~~~~~~~~~~ STYLE ~~~~~~~~~~~~~~~~~~~~~  */

html, body {
    font-family: 'Raleway', sans-serif;

    &.main {
        position: relative;

        header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
        }
    }
}

.pt,
.py {
    padding-top: 80px;
}

.pb,
.py {
    padding-bottom: 80px;
}

@media (max-width: 767px) {
    .pt,
    .py {
        padding-top: 40px;
    }
    .pb,
    .py {
        padding-bottom: 40px;
    }
}

.heading {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 500;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;

    @include transition();

    &:hover {
        filter: brightness(1.1);
    }

    &-w100 {
        width: 100%;
    }

    &-orange,
    &-secondary {
        background: var(--color-secondary);
        color: white;

        &:hover {
            color: white;
        }
    }

    &-white {
        color: var(--color-secondary);
        background: white;

        &:hover {
            background: white;
        }
    }

    &-rounded {
        border-radius: 1.5em;
        padding-left: 1.375rem;
        padding-right: 1.375rem;
    }

    &-bordered {
        background: transparent;

        &.btn-white {
            color: white;
            border-color: white;

            &:hover {
                color: white;
                background: var(--color-secondary);
                border-color: var(--color-secondary);
            }
        }
    }
}

.burger-menu-button {
    &:before,
    &:after,
    div {
        background: #fff;
        content: "";
        display: block;
        height: 2px;
        border-radius: 3px;
        margin: 10px 0;
        transition: 0.5s;
    }

    &:hover {
        &:before,
        &:after,
        div {
            background: var(--color-secondary);
        }
    }
}

.color {
    &-primary {
        color: var(--color-primary);
    }

    &-secondary {
        color: var(--color-secondary);
    }

    &-white {
        color: white;
    }

    &-light-gray {
        color: var(--color-light-gray);
    }
}

.header-line {
    position: relative;
    z-index: 1;
    height: 100px;
    //display: -webkit-box;
    //display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    &-feedback-btn {
        width: 177px;
    }
}

a {
    &:hover {
        color: var(--color-secondary);
    }
}

@media (max-width: 991px) {
    .header-line-feedback-btn {
        display: none;
    }
}

@media (max-width: 767px) {
    .header-line {
        height: 50px;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.section-text {
    font-size: 18px;
    line-height: 1.2em;
}

.form {
    &-group {
        margin-bottom: 30px;

        &_file {
            label {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;

                > span {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: calc(100% - 29px);
                }

                input {
                    display: none;
                }

                .icon {
                    width: 19px;
                    height: 21px;
                }
            }
        }

        input[type=text],
        input[type=tel],
        input[type=email],
        textarea,
        select {
            width: 100%;
            border: 0;
            border-bottom: 1px solid var(--color-heading);
            padding: 10px 0;
            background: none;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;

            &:focus {
                outline: none;
            }
        }

        input::placeholder,
        textarea::placeholder {
            color: var(--color-heading);
            opacity: 1; /* Firefox */
        }

        input::-ms-input-placeholder,
        textarea::-ms-input-placeholder { /* Edge 12 -18 */
            color: var(--color-heading);
        }

        &_submit {
            margin-bottom: 20px;
        }

        &_file {
            label {
                width: 100%;
                border-bottom: 1px solid var(--color-heading);
                color: var(--color-heading);
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                padding: 10px 0;

                .icon {
                    path {
                        stroke: var(--color-heading);
                    }
                }
            }
        }
    }

    &-submit {
        padding: 20px 25px;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1em;
        margin-bottom: 0;
    }

    &-privacy-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    &_white {
        .form-privacy-text {
            opacity: 0.5;

            a {
                color: white;
                text-decoration: none;
                @include transition;

                &:hover {
                    color: white;
                    text-decoration: underline;
                }
            }
        }

        .form-group {
            margin-bottom: 80px;

            &_submit {
                margin-bottom: 0px;
            }

            &_file {
                label {
                    width: 100%;
                    border-bottom: 1px solid white;
                    color: white;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 21px;
                    padding: 10px 0;
                    opacity: 0.6;

                    &:hover {
                        opacity: 1;
                    }

                    .icon {
                        path {
                            stroke: white;
                        }
                    }
                }
            }
        }

        input[type=text],
        input[type=tel],
        input[type=email],
        textarea,
        select {
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 1px solid white;
            background: none;
            padding: 10px 0;
            color: white;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            outline: none;
            opacity: 0.6;

            &:focus,
            &:hover {
                opacity: 1;
            }
        }

        input::placeholder,
        textarea::placeholder {
            color: white;
            opacity: 1; /* Firefox */
        }

        input::-ms-input-placeholder,
        textarea::-ms-input-placeholder { /* Edge 12 -18 */
            color: white;
        }
    }
}

@media (max-width: 767px) {
    .form {
        &-group {
            margin-bottom: 20px;
        }

        &_white {

            .form-group {
                margin-bottom: 20px;
            }
        }
    }
}

.menu {
    @include no-select;

    &-button {
        display: none;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }

    &-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-item {
            flex: 1;

            &-link {
                margin: 0 10px;
                white-space: nowrap;
                text-decoration: none;
                color: white;

                @include transition();

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    &-content {

    }

    &.active {
        .burger-menu-button:before {
            transform: translateY(12px) rotate(135deg);
        }

        .burger-menu-button:after {
            transform: translateY(-12px) rotate(-135deg);
        }

        .burger-menu-button div {
            transform: scale(0);
        }

        .burger-menu-button:before,
        .burger-menu-button:after,
        .burger-menu-button div {
            background: var(--color-secondary);
        }

        .menu-content {
            opacity: 1;
            left: 0px;
        }
    }
}

@media (max-width: 991px) {
    .menu {
        &-button {
            width: 32px;
            display: block;
            padding-top: 2px;
            cursor: pointer;
        }

        &-content {
            left: -150%;
            opacity: 0;
            padding: 30px;
            display: block;
            opacity: 1;
            background: #fff;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0%;
            color: black;
            overflow-y: auto;
            @include transition();
        }

        &-list {
            display: block;

            &-item {
                width: 100%;
                text-align: center;

                &-link {
                    display: inline-block;
                    color: var(--color-primary);
                    padding: 10px 0;
                }
            }
        }
    }

}

.region {
    &-target {
        text-decoration: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        @include transition();

        .icon {
            path {
                @include transition();
            }
        }

        .arrow {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
        }

        .icon_pin {
            width: 24px;
            height: 24px;
            margin-right: 20px;

            path {
                stroke: white;
            }
        }

        .icon_arrow {
            width: 15px;
            height: 9px;

            path {
                stroke: white;
            }
        }

        &:hover {
            .icon {
                path {
                    stroke: var(--color-secondary);
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .region {
        display: none;
    }
}

.section-main {
    padding: 80px 0;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    color: white;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: #1A1E24;
        opacity: 0.6;
    }

    & > div {
        margin-top: 100px;
        position: relative;
        z-index: 1;
    }

    &-heading {
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 20px;
    }

    &-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3em;
        margin-bottom: 40px;
    }
}

@media (max-width: 991px) {
    .section-main {
        padding: 60px 0;

        &-heading {
            font-size: 40px;
        }
    }
}

@media (max-width: 767px) {
    .section-main {
        padding: 20px 0;

        & > div {
            margin-top: 50px;
        }

        &-text {
            margin-bottom: 30px;
        }

        &-heading {
            font-size: 35px;
        }
    }
}

@media (max-width: 565px) {
    .section-main {
        &-heading {
            font-size: 28px;
            margin-bottom: 15px;
        }
    }
}

.card-list {
    &-item {
        &-img {
            --br: 14px;
            position: relative;
            padding: 30px;
            margin-bottom: 20px;
            border-radius: var(--br);
            height: 556px;
            display: flex;
            align-items: end;
            background-size: cover;
            background-position: top center;

            /*
            &:before {
                content: '';
                position: absolute;
                z-index: 0;
                background: linear-gradient(180deg, rgba(26, 30, 36, 0) 0%, rgba(26, 30, 36, 0.6) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: var(--br);
                opacity: 0.5;
            }*/
        }

        &-caption {
            position: relative;
            z-index: 1;
        }

        &-name {
            font-family: Raleway;
            font-size: 28px;
            font-weight: 600;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 10px;

        }

        &-description {
            margin-bottom: 30px;

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-wage {
            font-size: 18px;
            font-weight: 600;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 30px;
        }

        &-link {
            text-decoration: none;
            color: white;
            @include transition();

            &:hover {
                color: var(--color-secondary);
            }
        }

        .btn {
            font-size: 16px;
            font-weight: 400;
            line-height: 1em;
            letter-spacing: 0em;
            padding: 20px 30px;
            border-radius: 50px;
        }
    }

    &.row {

    }
}

@media (max-width: 991px) {
    .card-list {
        &-item {
            &-img {
                height: 420px;
                padding: 15px;
            }

            &-name {
                font-size: 22px;
                line-height: 1.2em;
            }
        }
    }
}

@media (max-width: 767px) {
    .card-list {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-y: auto;
        padding-bottom: 20px;

    }
}

.section-numbs {
    .heading {
        margin-bottom: 40px;
    }
}

.nums-list {
    &-item {
        &-num {
            font-size: 28px;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--color-secondary);
            margin-bottom: 10px;
        }

        &-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;

        }
    }
}

@media (max-width: 767px) {
    .section-numbs {
        .heading {
            margin-bottom: 20px;
        }
    }
    .nums-list {
        &.row {
            > div {
                margin-bottom: 15px;
            }
        }
    }
}

.section-info {
    --py: 227.5px;
    color: white;
    background-position: center center;
    background-size: cover;
    padding: var(--py) 0;

    &-heading {
        margin-bottom: 20px;
    }

    &-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;

    }
}

@media (max-width: 991px) {
    .section-info {
        --py: 80px;
    }
}

@media (max-width: 565px) {
    .section-info {
        --py: 40px;
    }
}

.contact-item {
    margin-bottom: 10px;

    a {
        white-space: nowrap;
        text-decoration: none;
        color: var(--color-primary);
        @include transition();

        .icon {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            top: -1px;
            position: relative;

            path {
                @include transition();
                stroke: var(--color-primary);
            }
        }

        &:hover {
            color: var(--color-secondary);

            .icon {
                path {
                    stroke: var(--color-secondary);
                }
            }
        }
    }
}

.section-jobs {
    &-heading {
        margin-bottom: 60px;
    }

    .jobs-list {
        margin-bottom: 60px;
    }

    &-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;

        a {
            color: var(--color-primary);
            text-decoration: none;
            @include transition;

            &:hover {
                color: var(--color-secondary);
            }
        }
    }
}

@media (max-width: 991px) {
    .section-jobs {
        &-heading {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 565px) {
    .section-jobs {
        &-heading {
            margin-bottom: 20px;
        }
    }
}

.jobs-list {
    &-item {
        background: var(--color-light-gray);
        background-image: url("../img/job-item-bg.svg");
        background-position: 70% 0;
        background-size: 154px;
        background-repeat: no-repeat;
        padding: 30px;
        margin-bottom: 20px;
        border-radius: 10px;

        &__content {
            flex-grow: 1;
        }

        &__title {
            font-width: 500;
            font-size: 28px;
            line-height: 1.2;
            margin-bottom: 10px;
        }

        &__preview-text {
            font-width: 400;
            font-size: 16px;
            line-height: 1.2;
            margin-bottom: 40px;

            p {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__wage {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: 40px;
        }

        &__description {
            &-title {
                font-size: 18px;
                font-weight: 700;
                line-height: 1.6em;
                margin-bottom: 10px;
            }

            &-text {
                font-size: 18px;
                font-weight: 400;
                line-height: 1.6em;
                margin-bottom: 30px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    position: relative;
                    padding-left: 25px;

                    &:before {
                        content: '';
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background: var(--color-primary);
                        position: absolute;
                        left: 10px;
                        top: 0.65em;
                    }
                }
            }
        }

        &__contacts {
            width: auto;

            .contact-item {
                font-size: 18px;
                line-height: 1.2em;
                margin-bottom: 20px;
            }
        }

        &__link {
            color: var(--color-secondary);
            display: inline-block;
            text-decoration: none;

            .icon {
                position: relative;
                top: -1px;
                margin-left: 20px;
                width: 24px;
                height: 24px;

                path {
                    stroke: var(--color-secondary);
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .jobs-list {
        &-item {
            background-position: 80% 0;

            > .d-flex {
                display: block !important;
            }
        }
    }
}

@media (max-width: 565px) {
    .jobs-list {
        &-item {
            background-position: 85% 0;
            padding: 20px;
        }
    }
}

.show-hide {
    &-content {
        display: none;
    }

    &-link {
        border: 0;
        background: none;
        color: var(--color-secondary);

        &__active {
            display: inline-block;
        }

        &__inactive {
            display: none;
        }
    }

    &.active {
        .show-hide-content {
            display: inline-block;
        }

        .show-hide-link {
            .icon {
                transform: rotate(180deg);
            }
        }

        .show-hide-link__active {
            display: none;
        }

        .show-hide-link__inactive {
            display: inline-block;
        }
    }
}

.section-offers {
    &-heading {
        margin-bottom: 20px;
    }

    &-text {
        line-height: 1.6em;
        margin-bottom: 40px;
    }
}

.offer-list {
    &.row > div {
        margin-bottom: 30px;
    }

    &-item {
        display: block;
        text-decoration: none;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        padding: 30px;
        height: 420px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: linear-gradient(180deg, rgba(25, 30, 33, 0.4) 0%, rgba(25, 30, 33, 0) 100%);
            z-index: 0;
        }

        &__title {
            position: relative;
            z-index: 1;
            color: white;
            font-size: 30px;
            font-weight: 700;
            line-height: 48px;
        }
    }
}

@media (max-width: 991px) {
    .offer-list {
        &-item {
            height: 286px;
            padding: 20px;

            &__title {
                font-size: 20px;
                line-height: 1.2em;
            }
        }
    }
}

.section-feedback {
    --py: 191px;
    color: white;
    padding-top: var(--py);
    padding-bottom: var(--py);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &-heading {
        margin-bottom: 20px;
    }

    &-text {
        margin-bottom: 80px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6em;
    }
}

@media (max-width: 991px) {
    .section-feedback {
        --py: 80px;

        &-text {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 565px) {
    .section-feedback {
        --py: 40px;

        &-text {
            margin-bottom: 20px;
        }
    }
}

.footer {
    background: var(--color-primary);
    color: white;

    &-container {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    &-logo {
        width: 177px;
    }

    &-menu {
        .menu-list {
            &-item {
                &-link {
                    margin: 0 25px;
                }
            }
        }
    }

    &-contacts {
        .contact-item {
            color: white;

            a {
                color: white;

                &:hover {
                    color: var(--color-secondary);
                }
            }

            .icon {
                path {
                    stroke: white;
                }
            }
        }
    }

    &-feedback {
        text-align: right;

        .btn {
            font-size: 16px;
            line-height: 1em;
            padding: 10px 50px;
        }
    }

    &-social {
        margin-top: 50px;
    }
}
@media (max-width: 991px) {
    .footer {
        .menu-list-item-link {
            color: white;
            margin: 0 0 15px;
            padding: 0;
        }
    }
}
@media (max-width: 767px) {
    .footer {
        &-container {
            flex-wrap: wrap;
        }
        &-menu {
            flex-grow: 1;
            width: calc(100% - 177px);
            padding-left: 30px;
            .menu-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                &-item {
                    width: auto;
                    display: inline-block;
                }
            }
        }
        &-contacts {
            margin-top: 20px;
            width: 50%;
        }
        &-feedback {
            margin-top: 20px;
            width: 50%;
        }

        &-social {
            margin-top: 30px;
        }
    }
}
@media (max-width: 565px) {
    .footer {
        &-container {
            display: block;
        }
        &-logo {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }
        &-menu {
            width: 100%;
            padding: 0;
            .menu-list {
                display: block;
                width: 100%;
                &-item {
                    display: block;
                    text-align: center;
                }
            }
        }
        &-contacts {
            width: 100%;
            text-align: center;
        }
        &-feedback {
            width: 100%;
            text-align: center;
        }
    }
}

.social {
    &-list {
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
            display: inline-block;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            &-link {
                text-decoration: none;

                .icon {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}
.modal {
    background: var(--color-light-gray);
    padding: 60px 40px;
    border-radius: 10px;

    &_feedback {
        width: 484px;
        max-width: 100%;
    }

    .heading {
        margin-bottom: 40px;
    }
}


